@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bg-pink {
  background-color: #ed4b9e;
}

.text-pink {
  color: #ed4b9e;
}

.text-gray {
  color: #8d929f;
}

.border-gray {
  border-color: #d9d9d9;
}

.text-brown {
  color: #463a3f;
}

.bg-gray {
  background-color: #f8f8f8;
}
